<!--navbar antiga-->
<!--<app-navbar *ngIf="exibindoNavbar()"></app-navbar>-->
<app-header *ngIf="exibindoNavbar()"></app-header>
<app-menu *ngIf="exibindoNavbar()"></app-menu>
<app-content></app-content>
<!--<router-outlet></router-outlet>-->
<app-footer></app-footer>
<app-setting *ngIf="exibindoNavbar()"></app-setting>

<p-growl></p-growl>

<p-confirmDialog header="Confirmação" icon="fa fa-question-circle" #confirmacao>
  <p-footer>
    <button type="button" pButton icon="fa fa-check" label="Sim"
      (click)="confirmacao.accept()"></button>
    <button type="button" pButton icon="fa fa-times" label="Não"
      (click)="confirmacao.reject()"></button>
  </p-footer>
</p-confirmDialog>
