<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Item</h1>
      </div>

      <div formArrayName="itens">
        <div class="ui-g-12 ui-md-12 ui-fluid" *ngFor= "let item of formulario.controls.itens.controls; let itemIndex = index " [formGroupName]="itemIndex">
          <div class="ui-g-12 ui-md-11 ui-fluid">
            <label>Descrição</label>
            <textarea pInputTextarea 
              name="descricao"
              autoResize="autoResize"
              minlength="5"
              formControlName="descricao">
            </textarea>
          </div>

          <div class="ui-g-1 ui-md-1 ui-fluid">
            <label>Atende</label>
            <p-checkbox binary="true"
              name="atende" 
              formControlName="atende"></p-checkbox>
          </div>
        </div>
      </div>      

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"
          (click)="novo()"></button>

        <a routerLink="/itens">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
