<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario" (click)="limparPesquisa(0)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Cadastro de Item</h1>
      </div>

      <div class="ui-g-12 ui-md-12" formArrayName="itens">
        <div class="ui-g" *ngFor= "let item of formulario.get('itens')['controls']; let itemIndex = index " [formGroupName]="itemIndex">

          <div class="ui-g-12 ui-md-10 ui-fluid">
            <label>Descrição</label>
            <textarea pInputTextarea
              name="descricao"
              autoResize="autoResize"
              minlength="5"
              formControlName="descricao"
              (paste)="aoColarNaDescricao($event, itemIndex)"
              (keyup)="searchItens($event.target.value, itemIndex)">
            </textarea>

            <div *ngIf="(itensEncontrado$[itemIndex] | async)?.length > 0   " class="UUbT9">
              <div class="aajZCb" >
                <ul class="erkvQe">
                  <li *ngFor="let item of itensEncontrado$[itemIndex] | async; let i = index" [ngClass]="clazz[i]" class="sbct"
                    (mouseover)="clazz[i]='sbct sbh1'"
                    (mouseout)="clazz[i]='sbct'"
                    (click)="atribuirItemPesquisa(item, itemIndex)">
                    <div class="sbtc">
                      <div class="sbl1"> 
                        <span>
                          {{item?.descricao}}
                        </span>
                      </div>
                    </div>                      
                  </li>
                </ul>
              </div>
            </div>

            <!--<div *ngIf="itensEncontrado?.length < 1">
                <hr>
                <p>
                  Nenhum item encontrado.
                </p>
            </div>-->

            <!-- <app-message [control]="formulario.get('itens').at(itemIndex).get('descricao')" error="obrigatoriedade"
              text="Informe a descrição"></app-message> -->
            <!-- app-message [control]="formulario.get('itens').get('descricao')" error="tamanhoMinimo"
              text="Mínimo de {{ formulario.get('itens').get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres"></app-message> -->
          </div>

          <div class="ui-g-1 ui-md-1 ui-fluid conteudoNoCentroVerticalmente">
            <label>Atende  </label>
            <p-checkbox binary="true"
              name="atende"
              formControlName="atende"></p-checkbox>
          </div>

          <div class="ui-g-1 ui-md-1 ui-fluid conteudoNoCentroVerticalmente">
            <button pButton icon="fa fa-close"
                pTooltip="Remover item" tooltipPosition="top"
                (click)="excluir(itemIndex)"></button>
          </div>

        </div>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info" (click)="novo()"></button>

        <a routerLink="/itens">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
