<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
  
      <div class="ui-g">
        <div class="ui-g-12">
          <h1>{{ editando ? 'Edição de' : 'Novo' }} Concorrente</h1>
        </div>
  
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Nome</label>
          <input pInputText type="text" name="nome"
            [(ngModel)]="concorrente.nome"
            #nome="ngModel" required minlength="1" maxlength="30">
  
          <app-message [control]="nome" error="required"
            text="Informe o nome"></app-message>
          <app-message [control]="nome" error="minlength"
            text="Mínimo de {{ nome?.errors?.minlength?.requiredLength }} caracteres"></app-message>
        </div>
  
        <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class="mx-5"></button>
          <button pButton type="button" label="Novo" class="ui-button-info" class="mx-5"
            (click)="novo(f)"></button>
  
          <a class="mx-5" routerLink="/concorrentes">Voltar para a pesquisa</a>
        </div>
      </div>
  
    </form>
  </div>